header{
    font-family:"Arial";
}
header a:link, a:visited{
    color: black;
    text-decoration: none;
}
header a:hover{
    color: black;
    text-decoration: underline;
}
.signin{
    background-color: #1A73E8;
    color: white;
    font-family:"Verdana";
    width: 80px;
    height: 40px;
    border-color:#1A73E8;
    border-radius: 5px;

}
.signin a:link{
    text-decoration: none;
    
}
ul{
    float:right;
    list-style-type: none;
}
header li{
    display:inline;
    text-align: center;
    padding: 15px 15px;
}
.main-center{
    display: block;
    
    margin: auto;
    width: 50%
}
.searchingbar{
    border: 1px solid #E7E9EC;
    border-radius: 30px;
    height: 45px; 
}
.searchbutton{
    background-color:#F8F9FA;
}
input[type=text]{
    border:solid green;
}
footer{
    background-color:#F2F2F2;
    position: absolute;
    bottom: 0;
    font-family:"Verdana";
    width: 100%

}
footer div a:link, a:visited{
    color: black;
    text-decoration: none;
}
footer div a:hover{
    color: black;
    text-decoration: underline;
}


footer li{
    display:inline;
    padding: 1px 12px;
}
.rightfooter{
    float:right;
}
.leftfooter{
    float:left;
}
google-text{
    4285F4
    EA4335
    FBBC05
    34A853
}
