body{
    background-color: black;
    color: white;
    
}
nav{
    background-color: #004971;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: Arial;
}
nav h1{
    float: left;
    padding-left: 15px;
    padding-top: 4px;
}
nav div{
    float: right;;
    padding: 30px 40px;
}
nav div span{
    padding-right: 20px;
}
.intro{
    position:absolute;
    top: 100px;
    width: 100%;
    font-family: consolas;
}
.my-picture{
    float:left;
    width: 30%;

}
.my-picture img{
    width:200px;
    padding: 50px
}
.my-info{
    padding: 70px;
}
.info{
    float:right;
    text-align:justify;
    width:70%
}
.about-me-container{
    position: absolute;
    right: 0;
    top:370px;
    background-color:#066E67;
    width:70%;
    float:right;
    height: 230px;
    font-family: Arial;
}
.about-me-text{
    font-family: arial;
    text-align: justify;
    padding-left: 50px;
}
.about-me-skills{
    font-family: consolas;
    float:left;
    width: 50%;
}
.about-me-skills ul{
    list-style-type:circle;
}
.about-me-hobbies{
    font-family: consolas;
    float:right;
    width: 50%;
}
.about-me-hobbies ul{
    list-style-type: circle;
    padding-top:5px;
}
.contact-container{
    position: absolute;
    left: 0;
    top:650px;
    background-color:#085165;
    width:70%;
    float:left;
    height: 280px;
    margin-bottom: 500px;
}
.contact-text{
    padding-left: 50px;
    font-family: Arial;
}
.contact-social{
    display:grid;
    grid-template-columns: auto auto;
}
.contact-social > div{
    padding: 10px;
}
.contact-social > div span{
    padding-top: 20px;
    float:right;
    width: 75%;
    font-family: consolas;

}
.contact-social > div img{
    width:30px;
    float:left;
    width: 15%;
}
.contact-social > div a{
    color:white;
}
.contact-social > div a:hover{
    color:purple;
}
.contact-social > div a:visited a:link{
    color:white;
}
